@model IEnumerable<SumyCRM.Models.Request>

<h2>Voice Requests</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Текст</th>
            <th>Адреса</th>
            <th>Аудіо</th>
            <th>Дата</th>
            <th>Видалити</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Id</td>
                <td>@i.Caller</td>
                <td>@i.Text</td>
                <td>@i.Address</td>
                <td>
                    <audio controls src="@i.AudioFilePath"></audio>
                </td>
                <td>@i.CreatedAt.ToLocalTime()</td>
                <td>
                    <form asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="id" value="@i.Id" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
                
            </tr>

        }
    </tbody>
</table>