@using SumyCRM.Areas.Admin.Models
@model Request

@{
    string strTitle = "Перегляд заявки";
    ViewBag.Title = strTitle;
}

<div class="container mt-5">
    <h2 class="text-center mb-4">@strTitle</h2>
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h5>Деталі заявки</h5>
                </div>
                <div class="card-body">
                    <p><strong>Номер заявки:</strong> @Model.RequestNumber</p>
                    <p><strong>Установа:</strong> @Model.Facility</p>
                    <p><strong>Дата додавання:</strong> @Model.DateAdded.ToString("dd.MM.yyyy HH:mm")</p>
                    <p><strong>Номер телефону:</strong> @Model.Caller</p>
                    <p><strong>Адреса:</strong> @Model.Address</p>
                    <p><strong>Категорія:</strong> @Model.Category.Title</p>
                    <p><strong>Підкатегорія:</strong> @Model.Subcategory</p>
                    <p><strong>Текст:</strong> @Model.Text</p>
                    <p><strong>Аудіо:</strong> <audio controls src="@Model.AudioFilePath"></audio></p>
                    <p><strong>Статус:</strong> @(Model.IsCompleted ? "Завершено" : "Не завершено")</p>
                </div>
                
            </div>

        </div>
    </div>


</div>